/* Seus estilos globais vão aqui */
.hero-section {
    background: url("../images/hero-img.jpg") 100% no-repeat;
    background-size: cover;
    height: 100vh;
    width:auto;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
.accordion-detail {
    height: 100%;  
    width: 60px; 
    border: none; 
    border-radius: 50%;
    font-size: 2em;
    position: relative;
}

.corpo {
    margin-top: -56px;
}

.teste {
    z-index: 99;
}